n8n_workflows/Avatar_Data_Ingestion.json
{
  "name": "Avatar: Data Ingestion",
  "nodes": [
    {
      "parameters": {
        "path": "avatar/ingest",
        "responseMode": "responseNode"
      },
      "name": "On form submission",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        260,
        300
      ]
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/ingest",
        "jsonParameters": true,
        "sendBody": true,
        "options": {
          "timeout": 120
        },
        "bodyParametersJson": "{\"text\": \"={{$json[\\\"body\\\"][\\\"text\\\"]}}\", \"collection\": \"={{$json[\\\"body\\\"][\\\"collection\\\"] || \\\"avatar_docs\\\"}}\", \"metadata\": {\"source\": \"n8n\"}}"
      },
      "name": "Qdrant Upsert via API",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 3,
      "position": [
        520,
        300
      ]
    },
    {
      "parameters": {
        "responseBody": "={{$json}}",
        "responseCode": 200
      },
      "name": "Respond",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        780,
        300
      ]
    }
  ],
  "connections": {
    "On form submission": {
      "main": [
        [
          {
            "node": "Qdrant Upsert via API",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Qdrant Upsert via API": {
      "main": [
        [
          {
            "node": "Respond",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  }
}