n8n_workflows/Avatar_ RAG_Chatbot.json
{
  "name": "Avatar: RAG Chatbot",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "avatar/chat",
        "responseMode": "responseNode",
        "options": {}
      },
      "id": "d7f55c35-b042-4d72-a3da-35d6feb6547e",
      "name": "When chat message received",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        -1072,
        32
      ],
      "webhookId": "485ac2e3-f29c-41f0-9ef1-39ec833544de"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "http://api:8000/chat",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"message\": \"{{ $json.body.message }}\",\n  \"session_id\": \"{{ $json.body.session_id || 'default' }}\",\n  \"collection\": \"{{ $json.body.collection || 'avatar_docs' }}\"\n}\n",
        "options": {}
      },
      "id": "07e2bfe0-bbf1-4677-ad9d-b41fafef8556",
      "name": "AI Agent (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -784,
        32
      ]
    },
    {
      "parameters": {
        "url": "=http://api:8000/tasks/{{ $json[\"task_id\"] }}",
        "options": {
          "response": {
            "response": {
              "responseFormat": "json"
            }
          }
        }
      },
      "id": "66ceaf81-b824-481d-a4b0-f5475924f341",
      "name": "Check Status (HTTP)",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4,
      "position": [
        -528,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "95b505ef-c5b0-4329-81d3-b0df077dab94",
              "leftValue": "={{ $json.status && $json.status.toString().trim().toUpperCase() }}",
              "rightValue": "SUCCESS",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "or"
        },
        "options": {}
      },
      "id": "e7967812-ebcf-4be8-b52b-194035d8be21",
      "name": "IF Success?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -288,
        32
      ]
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "caseSensitive": true,
            "leftValue": "",
            "typeValidation": "strict",
            "version": 1
          },
          "conditions": [
            {
              "id": "3833f076-8284-4044-be65-65a605b5d34f",
              "leftValue": "={{ $json.status?.toString().trim().toUpperCase()}}",
              "rightValue": "=FAILURE",
              "operator": {
                "type": "string",
                "operation": "equals",
                "name": "filter.operator.equals"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "17db4f09-cc50-49a7-90b8-9bd0ccc53a75",
      "name": "IF Failure?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2,
      "position": [
        -288,
        192
      ]
    },
    {
      "parameters": {
        "amount": 2,
        "unit": "seconds"
      },
      "id": "76f0104f-a118-4635-9831-20a5dda6d4bd",
      "name": "Wait 2s",
      "type": "n8n-nodes-base.wait",
      "typeVersion": 1,
      "position": [
        -288,
        320
      ],
      "webhookId": "08261dc4-fde4-4626-8793-7c73d737c4a3"
    },
    {
      "parameters": {
        "respondWith": "json",
        "responseBody": "={\n  \"task_id\": \"={{ $json.task_id }}\",\n  \"status\": \"={{ $json.status }}\",\n  \"answer\": \"={{ $json.result?.answer }}\",\n  \"documents\": \"={{ $json.result?.documents }}\",\n  \"scores\": \"={{ $json.result?.scores }}\"\n}\n",
        "options": {}
      },
      "id": "0cddaec4-0dc1-4162-b38c-1f56db75a51f",
      "name": "Respond to Webhook",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        0
      ]
    },
    {
      "parameters": {
        "options": {}
      },
      "id": "fe194723-faae-4a57-9f8d-2e53662fada7",
      "name": "Respond (Failure)",
      "type": "n8n-nodes-base.respondToWebhook",
      "typeVersion": 1,
      "position": [
        0,
        192
      ]
    }
  ],
  "pinData": {},
  "connections": {
    "When chat message received": {
      "main": [
        [
          {
            "node": "AI Agent (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent (HTTP)": {
      "main": [
        [
          {
            "node": "Check Status (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Status (HTTP)": {
      "main": [
        [
          {
            "node": "IF Success?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Success?": {
      "main": [
        [
          {
            "node": "Respond to Webhook",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "IF Failure?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "IF Failure?": {
      "main": [
        [
          {
            "node": "Respond (Failure)",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Wait 2s",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Wait 2s": {
      "main": [
        [
          {
            "node": "Check Status (HTTP)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "12ab180d-adca-474f-8790-5f7e1084ea27",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "1f26310cd74194826779fd7ae11e6103b010276956cf446411115dd7da7498b6"
  },
  "id": "ANAbqkWGFaNrhioo",
  "tags": []
}